.about {
    font-family: 'Roboto', sans-serif;
    /* Using Roboto font as an example, ensure it's imported or available in your project */
    background-color: #f9f9f9;
    /* Light gray background */
    border-radius: 8px;
    /* Rounded corners */
    padding: 30px;
    /* Space around the content inside the .about container */
    max-width: 600px;
    /* Setting a maximum width */
    margin: 50px auto;
    /* Vertically spaced with 50px and horizontally centered */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* A subtle shadow to lift the card visually */
}

.about h1 {
    color: #333;
    /* Dark gray for the heading */
    font-size: 2rem;
    /* Font size for the heading */
    margin-bottom: 20px;
    /* Spacing below the heading */
}

.about p {
    color: #666;
    /* A slightly lighter gray for the paragraph text */
    line-height: 1.6;
    /* Spaced out line-height for better readability */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


a:hover {
    background-color: #007BFF;
}