body {
    font-family: 'Arial', sans-serif;

}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


a:hover {
    background-color: #007BFF;
}

.login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    margin: 10px 0 0 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

/* ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    margin: 0;
    padding: 10px 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #f4f4f4;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
} */





.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-buttons button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-buttons button {
    background-color: #4CAF50;

    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}



.nav-buttons button .form-modal-button {

    background-color: #0074D9;

}